### Convert Columns
In diesem Notebook wird die **interim** CSV "Datengrundlage_added_features" weiter bearbeitet, um sie in einen finalen Stand im Projekt verwenden zu können. Hierzu werden die Spaltenformate sowie -bezeichnungen angepasst.

#### Imports

In [2]:
import pandas as pd

#### Daten laden

In [3]:
path_data = 'https://raw.githubusercontent.com/mm391-030401/project/refs/heads/main/data/interim/'
file_data = 'Datengrundlage_added_features.csv'

data = pd.read_csv(path_data + file_data, sep=',', encoding='utf-8')

#### Überblick über die aktuellen Spalten

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 27 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   MONATE_SEIT_EINFUEHRUNG_PROGRAMM_KOHORTE  703 non-null    int64
 1   MONAT                                     703 non-null    int64
 2   monat_jahr                                703 non-null    int64
 3   monat_monat                               703 non-null    int64
 4   monat_jahreszeit                          703 non-null    object
 5   KOHORTE                                   703 non-null    int64
 6   kohorte_jahr                              703 non-null    int64
 7   kohorte_monat                             703 non-null    int64
 8   kohorte_jahreszeit                        703 non-null    object
 9   ERSTER_MONAT_KOHORTE_FG                   703 non-null    int64
 10  MONATE_SEIT_EXISTENZ_KOHORTE              703 non-null    int64
 11  KOHORTENGROESSE_INDEXIERT                 703 non-null    float64
 12  KOHORTENGROESSE_KUMULIERT_INDEXIERT       703 non-null    float64
 13  IDENTIFIZIERTE_KUNDEN_INDEXIERT           703 non-null    float64
 14  RETENTIONRATE                             703 non-null    float64
 15  UMSATZ_INDEXIERT                          703 non-null    float64
 16  MONATLICHER_UMSATZ_INDEXIERT              703 non-null    float64
 17  UMSATZANTEIL_KOHORTE                      703 non-null    float64
 18  ANZ_BONS_INDEXIERT                        703 non-null    float64
 19  ABVERKAUF_INDEXIERT                       703 non-null    float64
 20  RABATT_INDEXIERT                          703 non-null    float64
 21  FREQUENZ_INDEXIERT                        703 non-null    float64
 22  DURCHSCHNITTSBON_INDEXIERT                703 non-null    float64
 23  STUECKBON_INDEXIERT                       703 non-null    float64
 24  UMSATZ_JE_KUNDE_INDEXIERT                 703 non-null    float64
 25  ABVERKAUF_JE_KUNDE_INDEXIERT              703 non-null    float64
 26  RABATT_JE_KUNDE_INDEXIERT                 703 non-null    float64
dtypes: float64(16), int64(9), object(2)
memory usage: 148.4+ KB

#### Spaltenbezeichnungem umwandeln

In [5]:
data.columns = data.columns.str.lower()

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 27 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   monate_seit_einfuehrung_programm_kohorte  703 non-null    int64
 1   monat                                     703 non-null    int64
 2   monat_jahr                                703 non-null    int64
 3   monat_monat                               703 non-null    int64
 4   monat_jahreszeit                          703 non-null    object
 5   kohorte                                   703 non-null    int64
 6   kohorte_jahr                              703 non-null    int64
 7   kohorte_monat                             703 non-null    int64
 8   kohorte_jahreszeit                        703 non-null    object
 9   erster_monat_kohorte_fg                   703 non-null    int64
 10  monate_seit_existenz_kohorte              703 non-null    int64
 11  kohortengroesse_indexiert                 703 non-null    float64
 12  kohortengroesse_kumuliert_indexiert       703 non-null    float64
 13  identifizierte_kunden_indexiert           703 non-null    float64
 14  retentionrate                             703 non-null    float64
 15  umsatz_indexiert                          703 non-null    float64
 16  monatlicher_umsatz_indexiert              703 non-null    float64
 17  umsatzanteil_kohorte                      703 non-null    float64
 18  anz_bons_indexiert                        703 non-null    float64
 19  abverkauf_indexiert                       703 non-null    float64
 20  rabatt_indexiert                          703 non-null    float64
 21  frequenz_indexiert                        703 non-null    float64
 22  durchschnittsbon_indexiert                703 non-null    float64
 23  stueckbon_indexiert                       703 non-null    float64
 24  umsatz_je_kunde_indexiert                 703 non-null    float64
 25  abverkauf_je_kunde_indexiert              703 non-null    float64
 26  rabatt_je_kunde_indexiert                 703 non-null    float64
dtypes: float64(16), int64(9), object(2)
memory usage: 148.4+ KB

In [7]:
data.head()

,monate_seit_einfuehrung_programm_kohorte,monat,monat_jahr,monat_monat,monat_jahreszeit,kohorte,kohorte_jahr,kohorte_monat,kohorte_jahreszeit,erster_monat_kohorte_fg,...,umsatzanteil_kohorte,anz_bons_indexiert,abverkauf_indexiert,rabatt_indexiert,frequenz_indexiert,durchschnittsbon_indexiert,stueckbon_indexiert,umsatz_je_kunde_indexiert,abverkauf_je_kunde_indexiert,rabatt_je_kunde_indexiert
0,-2,201408,2014,8,Sommer,201408,2014,8,Sommer,1,...,0.104058,0.54,0.20,2.54,131.29,29.28,37.51,38.45,49.24,615.67
1,-2,201409,2014,9,Herbst,201408,2014,8,Sommer,0,...,0.007668,2.54,1.41,7.14,641.94,44.77,55.55,287.41,356.62,1805.14
2,-2,201410,2014,10,Herbst,201408,2014,8,Sommer,0,...,0.000270,3.38,1.85,9.28,868.77,46.60,54.67,404.81,474.95,2385.68
3,-2,201411,2014,11,Herbst,201408,2014,8,Sommer,0,...,0.000226,2.92,1.44,3.22,774.33,45.65,49.19,353.50,380.91,852.38
4,-2,201412,2014,12,Winter,201408,2014,8,Sommer,0,...,0.000239,2.93,1.71,7.15,776.19,59.98,58.46,465.54,453.73,1894.07

#### Umwandlung der Spaltenformate  
Prinzipiell wurden von Python die Formate richtig gewählt. Für eine saubere Darstellung sollte allerdings die `erster_monat_kohorte_fg` in einen Boolean-Wert umgewandelt werden.  
Ebenfalls werden die diskreten Spalten in einen String umgewandelt. Dies macht es in der späteren EDA einfacher, sich einen Überblick zu verschaffen mit z.B. der Funktion `describe`. Die ganzen Zeitangaben gelten zwar offiziell als numerische Werte. Allerdings ist es in diesem Kontext nicht sinnig mit diesen auch Rechenoperationen durchzuführen. Daher sollten sie eher als kategorische Variblen eingeordnet werden.

In [8]:
data.select_dtypes(include='int64').columns

Index(['monate_seit_einfuehrung_programm_kohorte', 'monat', 'monat_jahr',
       'monat_monat', 'kohorte', 'kohorte_jahr', 'kohorte_monat',
       'erster_monat_kohorte_fg', 'monate_seit_existenz_kohorte'],
      dtype='object')

In [9]:
to_bool_cols = ['erster_monat_kohorte_fg']
to_str_cols = ['monate_seit_einfuehrung_programm_kohorte', 'monat', 'monat_jahr',
       'monat_monat', 'kohorte', 'kohorte_jahr', 'kohorte_monat', 'monate_seit_existenz_kohorte']

In [10]:
# Konvertierung der Spalten in boolean 
for col in to_bool_cols: 
    data[col] = data[col].astype(bool) 
    
# Konvertierung der Spalten in string 
for col in to_str_cols: 
    data[col] = data[col].astype(str)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 27 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   monate_seit_einfuehrung_programm_kohorte  703 non-null    object
 1   monat                                     703 non-null    object
 2   monat_jahr                                703 non-null    object
 3   monat_monat                               703 non-null    object
 4   monat_jahreszeit                          703 non-null    object
 5   kohorte                                   703 non-null    object
 6   kohorte_jahr                              703 non-null    object
 7   kohorte_monat                             703 non-null    object
 8   kohorte_jahreszeit                        703 non-null    object
 9   erster_monat_kohorte_fg                   703 non-null    bool
 10  monate_seit_existenz_kohorte              703 non-null    object
 11  kohortengroesse_indexiert                 703 non-null    float64
 12  kohortengroesse_kumuliert_indexiert       703 non-null    float64
 13  identifizierte_kunden_indexiert           703 non-null    float64
 14  retentionrate                             703 non-null    float64
 15  umsatz_indexiert                          703 non-null    float64
 16  monatlicher_umsatz_indexiert              703 non-null    float64
 17  umsatzanteil_kohorte                      703 non-null    float64
 18  anz_bons_indexiert                        703 non-null    float64
 19  abverkauf_indexiert                       703 non-null    float64
 20  rabatt_indexiert                          703 non-null    float64
 21  frequenz_indexiert                        703 non-null    float64
 22  durchschnittsbon_indexiert                703 non-null    float64
 23  stueckbon_indexiert                       703 non-null    float64
 24  umsatz_je_kunde_indexiert                 703 non-null    float64
 25  abverkauf_je_kunde_indexiert              703 non-null    float64
 26  rabatt_je_kunde_indexiert                 703 non-null    float64
dtypes: bool(1), float64(16), object(10)
memory usage: 143.6+ KB

In [12]:
data.head()

,monate_seit_einfuehrung_programm_kohorte,monat,monat_jahr,monat_monat,monat_jahreszeit,kohorte,kohorte_jahr,kohorte_monat,kohorte_jahreszeit,erster_monat_kohorte_fg,...,umsatzanteil_kohorte,anz_bons_indexiert,abverkauf_indexiert,rabatt_indexiert,frequenz_indexiert,durchschnittsbon_indexiert,stueckbon_indexiert,umsatz_je_kunde_indexiert,abverkauf_je_kunde_indexiert,rabatt_je_kunde_indexiert
0,-2,201408,2014,8,Sommer,201408,2014,8,Sommer,True,...,0.104058,0.54,0.20,2.54,131.29,29.28,37.51,38.45,49.24,615.67
1,-2,201409,2014,9,Herbst,201408,2014,8,Sommer,False,...,0.007668,2.54,1.41,7.14,641.94,44.77,55.55,287.41,356.62,1805.14
2,-2,201410,2014,10,Herbst,201408,2014,8,Sommer,False,...,0.000270,3.38,1.85,9.28,868.77,46.60,54.67,404.81,474.95,2385.68
3,-2,201411,2014,11,Herbst,201408,2014,8,Sommer,False,...,0.000226,2.92,1.44,3.22,774.33,45.65,49.19,353.50,380.91,852.38
4,-2,201412,2014,12,Winter,201408,2014,8,Sommer,False,...,0.000239,2.93,1.71,7.15,776.19,59.98,58.46,465.54,453.73,1894.07

#### Daten ablegen  
Nun wird die neue Datengrundlage in den Ordner processed abgelegt.

In [14]:
path_data_new = 'https://raw.githubusercontent.com/mm391-030401/project/refs/heads/main/data/processed/'
file_data_new = 'Datengrundlage_final.csv'

data.to_csv(path_data_new + file_data_new, index = False)